@import 'common';

header {
    background-color:antiquewhite;
    height: 100px;

    div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}